ul.list-group {
  min-height: 130px;
}

/* next 2 elements use the added font family from google */
body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: "Staatliches", sans-serif;
}

/* highlight tasks when a drag event starts so the user knows what area is a drop zone */
.dropover {
  background-color: rgba(0,0,0,0.3)
}

.dropover-active {
  background-color: rgba(0,0,0,0.9)
}

/* trash dropzone will only show up when an item is being dragged */
.bottom-trash {
  opacity: 0;
  color: #f1f1f1;
  font-size: 2.3rem;
  font-family: "Staatliches", sans-serif;
  /* the transform property applies a 2D or 3D tranformation to an element; allows you to rotate, scale, move,etc elements */
  transform: translateY(150px);
  /* transitions enable you to define the transition between 2 states of an element */
  /* this setting translates the Y position of the <div> down by 150px from it's origin */
  transition: all .5s ease-in-out;
  background-color: rgba(234,0,39,0.7);
}

.bottom-trash-drag {
  transform: translateY(0);
  opacity: 1;
}

.bottom-trash-active {
  background-color: rgba(234,0,39,1);
}

/* update buttons color scheme in the header column and modal form */
/* if browsert doesn't support gradient, it will fallback to whatever the background color is */
.btn-add,
.btn-save {
  background-color: #FA8BFF;
  background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
  transition: all .5s ease-out;
  /* background-size was used to make the gradient a lot taller than the actual button */
  background-size: 1px 100px;
  /* backgroun-positionmoves the colored background up and down */
  background-position: 0 -10px;
}

.btn-close,
.btn-delete {
  background-color: #EA0028;
  background-image: linear-gradient(180deg, #ff9a8b 0%, #EA0028 100%);
  transition: all .5s ease-out;
  background-size: 1px 100px;
  background-position: 0 -10px;
}

.btn-add:hover,
.btn-save:hover,
.btn-close:hover,
.btn-delete:hover {
  background-position: 1px -50px;
}
